<div id="<%= dom_id(message) %>" class="<%= message_css_class(message) %>">
  <div class="message-metadata">
    <span class="message-sender"><%= message.sender %></span>
    <span class="message-time"><%= time_ago_in_words(message.created_at) %> ago</span>
  </div>
  <div class="message-content">
    <%= message.content %>
  </div>
</div>
