<%= search_form_for @q, data: { controller: "filters", filters_target: "form" }, html: { class: "search-form" } do |f| %>
  <div class="form-group">
    <%= f.label :gender_eq, 'Gender', class: 'form-label' %>
    <%= f.select :gender_eq,
                 options_for_select(Profile.genders.map { |key, value| [key.humanize, value] }, selected: @q.gender_eq),
                 { include_blank: 'Any' },
                 { data: { action: "change->filters#submit" }, class: 'form-select' } %>
  </div>

  <div class="form-group">
    <%= f.label :category_eq, 'Category', class: 'form-label' %>
    <%= f.select :category_eq,
                 options_for_select(Profile.select(:category).distinct.pluck(:category), selected: @q.category_eq),
                 { include_blank: 'Any' },
                 { data: { action: "change->filters#submit" }, class: 'form-select' } %>
  </div>

  <%= link_to 'Clear Filters', profiles_path, class: 'clear-filters', data: { action: "click->filters#clear" } %>
<% end %>

<div class="profiles-table">
  <table>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.category %></td>
        <td><%= link_to 'chat', chat_show_path(profile_id: profile), class: 'use-link' %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @profiles, class: 'pagination' %>
