<h1>Chatting with <%= @chat.profile.name %></h1>
<div class="chat-container">
  <%= turbo_stream_from dom_id(@chat) %>

  <div class="messages">
    <turbo-frame id="messages" data-controller="scroll">
      <%= render @chat.messages %>
    </turbo-frame>
    <div id="typing-indicator"></div>
  </div>

  <form action="/messages"
        method="post"
        class="message-form"
        data-controller="clear-form"
        data-action="turbo:submit-end->clear-form#clear">
    <%= link_to 'Back', root_path, class: "back-link" %>
    <input type="text" name="message[content]" placeholder="Type a message" class="message-input" data-clear-form-target="input">
    <input type="hidden" name="message[chat_id]" value="<%= @chat.id %>">
    <button type="submit" class="send-button">Send</button>
  </form>
</div>
